.back {
  background: #F0F0F0 0% 0% no-repeat padding-box;
}

.title {
  margin-top: 40px;
}

.title-1 {
  width: 240px;
  height: 59px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 40px/60px Noto Sans TC;
  letter-spacing: 0px;
  color: #000000;
}

.title-2 {
  width: 99px;
  height: 59px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 40px/60px Noto Sans TC;
  letter-spacing: 0px;
  color: #000000;
  margin-left: 11px;
}

.td-cell {
  width: 121.67px;
  height: 54px;
  /* UI Properties */
  background: 0% 0% no-repeat padding-box;
  text-align: center;
  font: normal normal bold 16px/24px Open Sans;
}



.status {
  text-align: center;
  font: normal normal bold 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #000000;
}

tr>td {
  border: 3px solid #000000;
}


td>div {
  width: 80px;
}

.title-3 {
  width: 108px;
  height: 54px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 36px/54px Noto Sans TC;
  letter-spacing: 0px;
  color: #000000;
}

select {
  width: 350px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 3px solid #000000;
}

.dot {
  width: 786px;
  height: 0px;
  /* UI Properties */
  border: 1.5px dashed #000000;
  margin-left: 12px;
  margin-right: 22px;
}

.time {
  width: 137px;
  height: 22px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 16px/24px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  margin-right: 13px;
}

.update {
  width: 32px;
  height: 24px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 16px/24px Noto Sans TC;
  letter-spacing: 0px;
  color: #000000;
}

.big-box {
  width: 350px;
  height: 535px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 3px solid #000000;
}

.data {
  height: 65px;
  /* UI Properties */
  text-align: center;
  font: normal normal bold 48px/72px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  /* UI Properties */
  background: 0% 0% no-repeat padding-box;
}

.district {
  height: 54px;
  /* UI Properties */
  text-align: center;
  /* padding: auto; */
  font: normal normal bold 30px/54px Noto Sans TC;
  letter-spacing: 0px;
  color: #000000;
}

.district-card {
  margin-top: 32px;
}

.data-box {
  width: 160px;
  height: 97px;
  /* UI Properties */
  background: 0% 0% no-repeat padding-box;
  border-bottom: 3px solid #000000;
}

.prop {
  text-align: left;
  font: normal normal bold 24px/36px Noto Sans TC;
  letter-spacing: 0px;
  color: #000000;
}

.prop-num {
  text-align: right;
  font: normal normal bold 24px/36px Open Sans;
  letter-spacing: 0px;
  color: #000000;
}

.prop-bar {
  margin: 16px 30px 0px;
  padding-bottom: 16px;
  border-bottom: 1px solid
}

select {
  appearance: none;
}

.arrow-down {
  width: 8px;
  height: 7px;
  position: absolute;
  top: 38px;
  right: 50px;
  font-size: 8px;
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  background-color: black;
  pointer-events: none;
  /* 讓箭頭不影響點擊事件 */

}

.arrow-up {
  width: 8px;
  height: 7px;
  position: absolute;
  top: 28px;
  right: 50px;
  font-size: 8px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-color: black;
  pointer-events: none;
  /* 讓箭頭不影響點擊事件 */
}

.footer {
  /* width: 1280px; */
  height: 34px;
  /* UI Properties */
  background: #000000 0% 0% no-repeat padding-box;
  margin-top: 40px;
}

.footer-1 {
  width: 208px;
  height: 22px;
  /* UI Properties */
  text-align: left;
  font: normal normal bold 16px/24px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-left:  85px;
  ;
}

.footer-2 {
  width: 360px;
  height: 22px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 15px/24px Open Sans;
  letter-spacing: 0px;
  color: #F0F0F0;
  margin-right: 85px;
}